@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bine ati venit!</h1>
    <p>Laboratorul 2 - Medii de programare si dezvoltare</p>
    <p style="font-size:12px;">Nume: Moldoveanu Iustin-Eusebiu | Nr. matricol: 34038</p>
</div>